.font2 {
    margin: 0 30px 0 0;

}

nav img {
    text-align: right;
    
}


.contact-form {
    padding: 30px;
    margin: 70px 90px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
}

.followbuttons {
    text-align: center;
}


.flex-container {
    display: flex;
  }

.flex-container img {
    width: 30%;
    height:60%;
}
  

  
.instagram {
    height: 100%;
}

.instagram img, .youtube img, .spotify img {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 0 0 0 70px;
    vertical-align:bottom;
    border: none;
}
  
.spotify {
    height: 100%;;
}

.blue-button .news img {
    border: 4px solid #000000;
    border-radius: 20px;
}

.blue-button, .blue-button {
    color: #FFFFFF;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 1fr 1fr;
    grid-template-areas:
      " content1 content2 content3 sidebar "
      " content4 content5 content6 sidebar";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
    overflow: auto;
    margin-right: 20px;
    margin-left: 20px;
  }

  #sidebar {
    background: white;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    overflow:scroll;
  }
  
  #content1 {
    background: white;
    grid-area: content1;
    align-items: center;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content2 {
    background: white;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content3 {
    background: white;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  .container img {
    width: 100%;
    height: 100%;
  }
