@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Space+Mono&display=swap');

*:focus {
  border: 2px solid #000000;
}

html {
  scroll-behavior:smooth;
}
  
body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: white;
}


nav {
  background: white;
  padding: 20px 0;
  padding: 30px;
}

nav ul {
  text-align: left;
  margin: 30px 0 0 0;
  font-size: 90%;
}

nav ul li a {
  color: black;
}

nav img {
  align-content: left;
  width: 10%;
  padding: 20px 0 0 0;
}

nav a:hover {
  font-style:oblique;
  font-weight: bolder;
  font-size: 120%;
}

nav a:focus {
  font-style: bold;
}



.current {
  font-style: none;
  text-decoration: underline;

}

a:link {
  text-decoration: none;
}

a.skip {
  background: #FFFFFF;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  -o-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus {
  top:20px;
  color: #000000;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.skip a {
  position: absolute;
  top: -40px;
}

.skip a:focus {
  position: absolute;
  top: 20px;
}

h1 {
  padding: 30px 0 0 30px;
  text-align: left;
  color: black;
}
  
h2 {
  font-size: 25px;
  padding: 30px 0 0 30px;
  color: black;
}

.name {
  font-size: auto;
  color: black;
  padding: 20px 0 0 0;
  text-align: right;
}

.homepage p {
  font-size: 30px;
  padding: 30px 0 0 30px;
  color: black;
}


footer {
  background-color: black;
  padding: 30px 0;
}

footer p {
  font-size: 80%;
  color: #FFFFFF;
  text-align: center;
  margin: 60px 0 0 0;
}

.toggle {
  background-color: transparent;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 30px 0 0 0;
}

.blue-button {
  background-color: #FFFFFF;
}

.blue-button h1, .blue-button h2, .blue-button h3, .blue-button nav ul li a, .blue-button .homepage p, .blue-button .connect {
  color: #000000;
}

.blue-button nav {
  background-image: linear-gradient(blue, #FFFFFF);
}

.blue-button footer {
  background-image: linear-gradient(#FFFFFF, blue);
}

.blue-button footer p {
  color: #000000;
}

/* Tablet Media Query */
@media screen and (min-width: 700px) {
  nav ul {
    text-align: left;
    font-size: 90%;
  }
}

/* Desktop Media Query */
@media screen and (min-width: 1000px) {
  nav li {
    display: inline;
    text-align: left;
    height: 1.5em;
    color: #FFFFFF;
    padding-right: 20px;
  }
}

.font2 {
    margin: 0 30px 0 0;

}

nav img {
    text-align: right;
    
}


.contact-form {
    padding: 30px;
    margin: 70px 90px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
}

.followbuttons {
    text-align: center;
}


.flex-container {
    display: flex;
  }

.flex-container img {
    width: 30%;
    height:60%;
}
  

  
.instagram {
    height: 100%;
}

.instagram img, .youtube img, .spotify img {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin: 0 0 0 70px;
    vertical-align:bottom;
    border: none;
}
  
.spotify {
    height: 100%;;
}

.blue-button .news img {
    border: 4px solid #000000;
    border-radius: 20px;
}

.blue-button, .blue-button {
    color: #FFFFFF;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 1fr 1fr;
    grid-template-areas:
      " content1 content2 content3 sidebar "
      " content4 content5 content6 sidebar";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
    overflow: auto;
    margin-right: 20px;
    margin-left: 20px;
  }

  #sidebar {
    background: white;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    overflow:scroll;
  }
  
  #content1 {
    background: white;
    grid-area: content1;
    align-items: center;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content2 {
    background: white;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content3 {
    background: white;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  .container img {
    width: 100%;
    height: 100%;
  }
